body, html {
    height: 100vh;
    margin: 0;
    width: 100vw;
    
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

footer {
    background-color: #0D4D60;
}


