<%- include("templates/headerAuthenticated") %> 

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">About Asclepius</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">We're team passionate about providing a platform that allows first responders and paramedics to leverage the drone technology of 2054 to save lives.</p>
    </div>
  </div>

  <% if (user_type == 'user') { %>
    <%- include("templates/footerAuthenticatedUser") %>
<% } else if (user_type == 'org') { %> 
    <%- include("templates/footerAuthenticatedOrg") %>
<% } else { %> 
<%- include("templates/footerUnauthenticated") %>
<% } %>