<%- include('templates/header') %>
<br>
<br>
<br>
<div class="container">
    <h1> Forgot Your Password? </h1>
    <form action="/forgotPassword" method="post">
        <div class="form-group">
          <label for="email"><i>Enter your recovery email:</i></label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
  </div>
<%- include('templates/footer') %>