<h1>Please login</h1>
<form action='/loggingin' method='post'>
<input name='email' type='text' placeholder='email'>
<input name='password' type='password' placeholder='password'>
<button>Submit</button>
</form>
<%= errorMessage %>
<a href="/forgotPassword">Forgot Password</a>