<%- include("templates/headerAuthenticated") %> 

    <title>Redirect Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        .button-container {
            margin-top: 50px;
        }
        .button {
            display: inline-block;
            padding: 10px 20px;
            margin: 10px;
            font-size: 16px;
            background-color: #0081A7;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
        }
        .back-button {
            margin-top: 20px;
            background-color: #555555;
        }
        .back-button:hover {
            background-color: #333333;
        }
        .back-button-container {
            margin-top: 20px;
        }
    </style>
</head>
<br>
<br>
<br>
<br>
<br>
<br>
<body>
    <h1>Redirect Page</h1>
    <div class="button-container">
        <a href="/droneList" class="button">Drone List</a>
        <a href="/addDrone" class="button">Add Drone</a>
        <a href="/locationList" class="button">Location List</a>
        <a href="/addLocation" class="button">Add Location</a>
    </div>
    <div class="back-button-container">
        <button class="button back-button" onclick="window.history.back()">Back</button>
    </div>

    <%- include('templates/footerAuthenticatedOrg') %>