<%- include('templates/headerAuthenticated') %>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%= maps_api %>&callback=initMap" async defer></script>
    <script src="/maps.js" defer></script>

    <div class="card p-3 m-3">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
        <div class="ratio ratio-1x1">
            <div id="map"></div>
        </div>
    </div>

<%- include('templates/footerAuthenticatedUser') %>