<%- include('templates/headerAuthenticated') %>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%= maps_api %>&callback=initMap" async defer></script>
    <script src="/maps.js" defer></script>

    <div class="card p-3 m-3">
        <div class="card-body">
            <h5 class="card-title">Drones Near You</h5>
        </div>
        <div id="mapContainer" >
            <div id="map" class="rounded"></div>
        </div>
    </div>

    <div class="d-grid gap-2 px-3">
        <a href="/locationList" class="btn btn-primary btn-lg" type="button">Location List</a>
        <a href="/droneList" class="btn btn-secondary btn-lg" type="button">Drone List</a>
      </div>
<br>
<br>
<br>
<br>
<br>
<%- include('templates/footerAuthenticatedUser') %>